<header>
    <h1>Jane Doe</h1>
    <p>Senior Astral Projectionist</p>
</header>
<a href="#tarot" class="jumplink pic">
    <span class="arrow icon solid fa-chevron-right"><span>See my work</span></span>
    <img src="../img/me.jpg" alt="" />
</a>