<style>
    .not_login_image img{

        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        }
    .not_login_image img:hover {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }
</style>

<!-- -------------------------------- 로그인시 보여줄 화면 (챗봇) -------------------------- -->
<div class="chat-wrapper">
    <div class="chat-header">챗봇</div>
    <div class="chat-container">
        <div id="chatContent" class="chat-content">
            <!-- 메시지들이 여기에 동적으로 추가 -->
        </div>
    </div>
    <div class="input-container">
        <input type="text" id="chatInput" placeholder="메시지를 입력하세요..." />
        <button id="sendButton">전송</button>
    </div>
</div>
<!-- ------------------------------------------- 끝 -------------------------------------- -->
<!-- ----------------------------------- 로그인 안했을 때 화면 ----------------------------- -->
<div class="not_login_main_page">
    <div class="not_login_container">
        <div id="notLoginContent" class="not_login_content">
            <p>언제 어디서든 만날 수 있는 나만의 고민 상담사</p>
            <br>
            <br>
            <p>미래를 점치고 고민을 가볍게 훌훌 털어버려 줄 타로상담</p>
            <br>
            <br>
            <p>한 눈에 들어오는 나의 감정점수</p>
        </div>
        <div class="not_login_image" style="position: absolute; right: 10%; top: 10%; width: 60%;">
            <img src="../img/not_login_img1.png" class="triangle_img" style="position: absolute; top: 10%; right: 5%; width: 45%; z-index: 2;">
            <img src="../img/not_login_img2.png" class="triangle_img" style="position: absolute; top: 160px; right: 20%; width: 40%; z-index: 1">
            <img src="../img/not_login_img3.png" class="triangle_img" style="position: absolute; top: 120px; right: -10%; width: 35%;">
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
<!-- ------------------------------------------- 끝 --------------------------------------- -->