<!-- -------------------------------- 로그인시 보여줄 화면 (챗봇) -------------------------- -->
<div class="chat-wrapper">
    <div class="chat-header">챗봇</div>
    <div class="chat-container">
        <div id="chatContent" class="chat-content">
            <!-- 메시지들이 여기에 동적으로 추가 -->
        </div>
    </div>
    <div class="input-container">
        <input type="text" id="chatInput" placeholder="메시지를 입력하세요..." />
        <button id="sendButton">전송</button>
    </div>
</div>
<!-- ------------------------------------------- 끝 -------------------------------------- -->
<!-- ----------------------------------- 로그인 안했을 때 화면 ----------------------------- -->
<div class="not_login_main_page">
<<<<<<< HEAD
    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p>6</p>
    <p>5</p>
    <p>7</p>
    <p>1</p>

=======
    <div class="not_login_container">
        <div id="notLoginContent" class="not_login_content">
            <p>챗봇페이지에 대한 설명, 특징</p>
            <p>타로페이지에 대한 설명, 특징</p>
            <p>마이페이지에 대한 설명, 특징</p>
        </div>
        <div class="not_login_image" style="float:right; width:50%;">
            <img src="/public/img/not_login_img1.png" width="50%">
            <img src="/public/img/not_login_img2.png" width="50%">
            <img src="/public/img/not_login_img3.png" width="50%">
    </div>
>>>>>>> b7b0df6 (비로그인-소개 페이지 제작 및 수정, 소개 페이지 이미지 업로드)
</div>
<!-- ------------------------------------------- 끝 --------------------------------------- -->