<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅 인터페이스</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <!-- -------------------------------- 로그인시 보여줄 화면 (챗봇) -------------------------- -->
    <div class="chat-wrapper">
        <div class="chat-container">
            <div id="chatContent" class="chat-content"></div>
        </div>
        <div class="input-container">
            <input type="chat_text" id="chatInput" placeholder="메시지를 입력하세요..." />
        </div>
    </div>
    <!-- ------------------------------------------- 끝 -------------------------------------- -->
    <!-- ----------------------------------- 로그인 안했을 때 화면 ----------------------------- -->
    <div class="not_login_main_page">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>6</p>
        <p>5</p>
        <p>7</p>
        <p>1</p>

    </div>
    <!-- ------------------------------------------- 끝 --------------------------------------- -->


    <script src="../js/script.js"></script>
</body>

</html>