<style>
    body {
        background-color: white;
    }
    

</style>


<!-- -------------------------------- 로그인시 보여줄 화면 (챗봇) -------------------------- -->
<div class="chat-wrapper">
    <div class="chat-header">챗봇</div>
    <div class="chat-container">
        <div id="chatContent" class="chat-content">
            <!-- 메시지들이 여기에 동적으로 추가 -->
        </div>
    </div>
    <div class="input-container">
        <input type="text" id="chatInput" placeholder="메시지를 입력하세요..." />
        <button id="sendButton">전송</button>
    </div>
</div>
<!-- ------------------------------------------- 끝 -------------------------------------- -->
<!-- ----------------------------------- 로그인 안했을 때 화면 ----------------------------- -->
<div class="not_login_main_page">
    <div class="notChatbot" style="height: 700px">
        <div id="notLoginContent" class="not_login_content">
            <article>
                <p>test1</p>
            </article>
    <div class="notTarot" style="height: 700px">
        <div id="notLoginContent" class="not_login_content">
            <article>
                <p>test2</p>
            </article>
    <div class="notGraph" style="height: 700px">
        <div id="notLoginContent" class="not_login_content">
            <article>
                <p>test3</p>
            </article>
    </div>
</div>
<!-- ------------------------------------------- 끝 --------------------------------------- -->