<div>
    <div style="display: flex;">
        <h2>dd</h2>
        <div>

        </div>
    </div>
</div>

<div class="mypage_button">
    <button class="mypage_tab" onclick="openTab('myinfo')">내 상태</button>
    <button class="mypage_tab" onclick="openTab('info_r')">회원정보수정</button>
    <button class="mypage_tab" onclick="openTab('delete_ID')">계정탈퇴</button>
</div>

<div id="myinfo" class="tab-content" style="display:block">
    <h2>myinfo</h2>
    <p>내용</p>
</div>

<div id="info_r" class="tab-content" style="display:none">
    <h2>info_r</h2>
    <p>내용</p>
</div>

<div id="delete_ID" class="tab-content" style="display:none">
    <h2>delete ID</h2>
    <p>내용</p>
</div>
<script src="../js/mypage.js"></script>