<header>
    <h2>Tarot</h2>
</header>
<p>
    Phasellus enim sapien, blandit ullamcorper elementum eu, condimentum eu elit.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
    luctus elit eget interdum.
</p>
<section>
    <div class="row">
        <div class="col-4 col-6-medium col-12-small">
            <a href="#" class="image fit"><img src="../img/pic01.jpg" alt=""></a>
        </div>
        <div class="col-4 col-6-medium col-12-small">
            <a href="#" class="image fit"><img src="../img/pic02.jpg" alt=""></a>
        </div>
        <div class="col-4 col-6-medium col-12-small">
            <a href="#" class="image fit"><img src="../img/pic03.jpg" alt=""></a>
        </div>
        <div class="col-4 col-6-medium col-12-small">
            <a href="#" class="image fit"><img src="../img/pic04.jpg" alt=""></a>
        </div>
        <div class="col-4 col-6-medium col-12-small">
            <a href="#" class="image fit"><img src="../img/pic05.jpg" alt=""></a>
        </div>
        <div class="col-4 col-6-medium col-12-small">
            <a href="#" class="image fit"><img src="../img/pic06.jpg" alt=""></a>
        </div>
        <div class="col-4 col-6-medium col-12-small">
            <a href="#" class="image fit"><img src="../img/pic07.jpg" alt=""></a>
        </div>
        <div class="col-4 col-6-medium col-12-small">
            <a href="#" class="image fit"><img src="../img/pic08.jpg" alt=""></a>
        </div>
        <div class="col-4 col-6-medium col-12-small">
            <a href="#" class="image fit"><img src="../img/pic09.jpg" alt=""></a>
        </div>
    </div>
</section>