tarot.ejs
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>타로 카드</title>
  <link rel="stylesheet" href="../css/tarot.css">
</head>
<body>
  <div class="container">
    <h1>타로 카드</h1>
    
    <% 
      // 카드 ID 배열 생성
      let cardIds = Array.from({ length: 78 }, (_, i) => i);
      
      // Fisher-Yates Shuffle 알고리즘으로 섞기
      for (let i = cardIds.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [cardIds[i], cardIds[j]] = [cardIds[j], cardIds[i]];
      }
    %>
    
    <div class="tarot-spread">
      <% cardIds.forEach(id => { %>
        <div class="card" data-card-id="<%= id %>">
          <div class="card-inner">
            <div class="card-back"></div>
            <div class="card-front">
              <!-- JavaScript에서 동적으로 이미지가 설정됩니다 -->
            </div>
          </div>
        </div>
      <% }); %>
    </div>
    
    <button id="spread-cards">카드 펼치기</button>
    <div id="selected-card-info"></div>

    <div class="selected-cards-container">
      <div class="selected-card" id="selected-card-1">
        <div class="selected-card-inner">
          <div class="selected-card-back"></div>
          <div class="selected-card-front"></div>
        </div>
      </div>
      <div class="selected-card" id="selected-card-2">
        <div class="selected-card-inner">
          <div class="selected-card-back"></div>
          <div class="selected-card-front"></div>
        </div>
      </div>
      <div class="selected-card" id="selected-card-3">
        <div class="selected-card-inner">
          <div class="selected-card-back"></div>
          <div class="selected-card-front"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="../js/tarot.js"></script>
</body>
</html>