.chat-wrapper {
    font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chat-header {
    background-color: #E7AF9E;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.chat-container {
    height: 450px;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge *
    scrollbar-width: none; /* Firefox */
    padding: 10px;
    background-color: #fff;
}

.chat-container::-webkit-scrollbar,
.chat-content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.chat-content {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-y: auto;
}
.message {
    max-width: 80%;
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 20px;
    word-wrap: break-word;
}
.user-message {
    align-self: flex-end;
    background-color: #E7AF9E;
    color: white;
}
.bot-message {
    align-self: flex-start;
    background-color: #f1f1f1;
    color: black;
}
.input-container {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}
#chatInput {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
}
#sendButton {
    background-color: #E7AF9E;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 20px;
    cursor: pointer;
}

div.loading {
    margin: 0 35px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 5px solid white;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;

    animation: rotate 1s linear infinite;
} @keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}