.mypage_button {
    text-align: center;
    margin-top: 50px;
}

.mypage_tab {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px 100px;
}

.tab-content {
    display: none;
    margin-top: 20px;
    text-align: center;
}

.tab-content h2 {
    color: #333;
}

.active-tab {
    display: block;
}

#myinfo {
    border-top: peachpuff solid 3px;
}

.myinfo-container {
.myinfo-container {
    margin: 0 auto;
    overflow: hidden;
    padding-top: 10px;
    width: 1300px;
    align-items: center;
}

.graph-container {
    width: 600px;
    height: 600px;
    display: inline-block;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #000;
}

#gauge {
    width: 100%;
    height: 100%;
}

/* 그래프 작성 후 수정 */
/* .graph-container canvas {
    float: center;
    margin-left: 30px;
    margin-bottom: 10px;
    width: 600px;
    height: 600px;
}  */

/* 수정 */
.form-container {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    border-radius: 0.5rem;
    background-color: #f2f2f2;
    border-radius: 0.5rem;
    background-color: #f2f2f2;
}


.form-group {
    margin-bottom: 15px;
}




.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="button"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    color: #777777;
    border-radius: 0.5rem;

    /* 셀에 테두리 추가 */
    color: #777777;
    border-radius: 0.5rem;

    /* 셀에 테두리 추가 */
}


.form-group input[type="button"] {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

#info_re,
#del_id {
    display: block;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #4AD395;
    color: #fff;
    font-weight: 600;
    text-align: center;
    border-radius: 0.5rem;
}

#pw_check,
#user-id2,
#nickname{
    color: #777777;
}

#info_re,
#del_id {
    display: block;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #4AD395;
    color: #fff;
    font-weight: 600;
    text-align: center;
    border-radius: 0.5rem;
}

#pw_check,
#user-id2,
#nickname{
    color: #777777;
}