/* 공통 스타일 */
body {
    max-width: 100%;
    overflow-x: hidden;
}

.mypage_button {
    text-align: center;
    margin-top: 50px;
    display: flex;
}

.mypage_tab {
    background-color: #ffdab9;
    color: rgb(245, 245, 7);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px auto;
    display: inline-block;
    flex: 1;
    margin-left: 10px;
    border-radius: 0.3rem;
}
.mypage_tab:hover {
	background-color: #fabeac;
}

.tab-content {
    display: none;
    margin-top: 20px;
    text-align: center;
}

.tab-content h2 {
    color: #333;
}

.active-tab {
    display: block;
}

#myinfo {
    display: block;
    border-top: peachpuff solid 3px;
}

/* 반응형 레이아웃 */
.myinfo-container {
    margin: 0 auto;
    padding-top: 10px;
    max-width: 100%;
    height: auto;
    text-align: center;
    box-sizing: border-box;
}

.graph-container {
    width: 650px;
    height: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding-bottom: 30px;
    color: #000;
}

#gauge-container {
    padding-top: 50px;
    border-right: 2px solid #E7AF9E;
}

#gauge{
    width: 100%;
    height: 488px;
}

#gauge-text {
    padding-top: 20px;
    color: #333;
    font-size: 2em;
}

#piegraph{
    padding-top: 20px;
}

#linegraph{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top : 2px solid #E7AF9E;
}

#myLineChart {
    width: 100%;
}

#worryCategory{
    width: 100%;
    height: auto;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 2px solid #E7AF9E;
}

#worry-text{
    padding: 10px;
    font-size: 26px;
    line-height: 1.6;
    color: #333;
    max-height: 350px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* 수정 */
.form-container {
    max-width: 90%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    border-radius: 0.5rem;
    background-color: #f2f2f2;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="button"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    color: #777777;
    border-radius: 0.5rem;
    color: #777777;
    border-radius: 0.5rem;
}

.form-group input[type="button"] {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

#info_re,
#del_id {
    display: block;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #4AD395;
    color: #fff;
    font-weight: 600;
    text-align: center;
    border-radius: 0.5rem;
}

#pw_check,
#user-id2,
#nickname {
    color: #777777;
}

/* 프로그래스바 */
#meter2 {
    appearance: none;
    width: 220px;
    display: block;
    margin-top: 17px;
    margin-left: 26px;
    margin-bottom: 22px;
}

#meter2::-webkit-progress-bar {
    background: #f0f0f0;
    border-radius: 10px;
}


#meter2[value]::-webkit-progress-value {
    transition: width 0.5s;
}


#depression-survey table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
#depression-survey th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
#depression-survey th {
    background-color: #f2f2f2;
}
#depression-survey td {
    position: relative;
}
#depression-survey label {
    cursor: pointer; /* 클릭 가능한 포인터 추가 */
    font-size: 24px; /* 심볼의 크기 설정 */
}
/* 라디오 버튼 숨기기 */
#depression-survey input[type="radio"] {
    display: none;
}
/* 심볼 스타일 */
#depression-survey label::before {
    content: "○"; /* 기본 심볼 */
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    font-size: 24px;
    color: #333;
}
/* 라디오 버튼 선택 시 심볼 변경 */
#depression-survey input[type="radio"]:checked + label::before {
    content: "●"; /* 선택된 심볼 */
    color: #007bff; /* 선택된 심볼의 색상 */
}