/* 버튼 컨테이너 스타일 */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#draw-again,
#spread-cards {
    background-color: #2b233a; /* 원하는 색상으로 변경 */
    color: white; /* 텍스트 색상 */
    padding: 10px 20px;
    border: none;
    border-radius: 25px; /* 원하는 둥글기 */
    cursor: pointer; /* 커서 모양 */
}

.category-button{
    background-color: #2b233a; /* 원하는 색상으로 변경 */
    color: white; /* 텍스트 색상 */
    padding: 10px 20px;
    border: none;
    border-radius: 25px; /* 원하는 둥글기 */
    cursor: pointer; /* 커서 모양 */
}

.userButton {
    background-color: #2b233a; /* 원하는 색상으로 변경 */
    color: white; /* 텍스트 색상 */
    padding: 15px 30px;
    border: none;
    border-radius: 25px; /* 원하는 둥글기 */
    cursor: pointer; /* 커서 모양 */
}

/* 활성화된 버튼 스타일 */
.category-button.active {
    background-color: #c88b62;
    color: white;
}

.userButton.active {
    background-color: #c88b62;
    color: white;
}

/* 타로 카드 스프레드 컨테이너 */
.tarot-spread {
    width: 100%;
    height: 300px;
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
    overflow: auto; /* 기본적으로 스크롤 숨김 */
}

/* 카드 스타일 */
.card {
    width: 120px;
    height: 180px;
    position: absolute;
    top: 60px;
    left: 20px;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    transform: rotateY(0deg);
}

.card-inner.flipped {
    transform: rotateY(180deg);
}

/* 카드 뒷면 및 앞면 스타일 */
.card-back,
.card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-back {
    background-image: url('../img/tarot_back.png');
    background-size: cover;
}

.card-front {
    background-color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

#draw-again,
#spread-cards {
    padding: 10px 20px;
    font-size: 16px;
}

/* 선택된 카드 정보 스타일 */
#selected-card-info {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

/* 선택된 카드 컨테이너 스타일 */
.selected-cards-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.selected-card {
    width: 120px;
    height: 180px;
    position: relative;
    margin: 0 10px;
}

.selected-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    transform: rotateY(0deg);
}

.selected-card-inner.flipped {
    transform: rotateY(180deg);
}

/* 선택된 카드 앞면 스타일 */
.selected-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}


/* 해석 결과 표시 영역 스타일 */
.interpretation-wrapper {
    font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 20px auto;
}

.interpretation-header {
    background-color: #2B233A;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.interpretation-content {
    padding: 10px;
    font-size: 20px;
    line-height: 1.6;
    color: #2B233A;
    max-height: 350px;
    overflow-y: auto;
    -ms-overflow-style: none;
    /* Internet Explorer 및 Edge */
    scrollbar-width: none;
    /* Firefox */
}

.interpretation-content::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}